# ansible-managed

[Unit]
Description=dyndns
After=network.target
{% if ansible_lsb.codename == 'xenial' %}
StartLimitInterval={{ srv_dyndns_restart_interval }}
{% else %}
StartLimitIntervalSec={{ srv_dyndns_restart_interval }}
{% endif %}
StartLimitBurst={{ srv_dyndns_restart_limit }}

[Service]
Type=simple
User={{ srv_dyndns_service_user |d('root', true) }}
Group=nogroup
ExecStart=/usr/local/sbin/dyndns{%if srv_dyndns_python |bool %} service{% endif %}

Restart=always
RestartSec=20
PrivateTmp=true

[Install]
WantedBy=multi-user.target
